*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    background-color: #7da4ec;
    padding: 30px 0;
    margin-top: 200px;
}
body{
    background-color: #1D577F;
    padding: 0px 50px;
}
.container h2{
    font-size: 3rem;
    margin-bottom: 20px;
}
.container span{
    font-size: 2rem;
}
.my_btn{
    margin-top: 30px;

}
#reset{
    background-color: red;
}
.btn{
    padding: 10px 20px;
    margin-right: 13px;
    background-color: rgb(0, 0, 0);
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    outline: none;
    border: none;
    border: 1px solid black;
}
.create{
    width: 100%;
    background-color: #fff;
    height: 100px;
    margin-top: 20px;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 20px;
    color: #ff2c2c;
}